extends ../node_modules/jade-bootstrap/layouts/carousel

block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						
						a(class="navbar-brand", href="/" ) Colenso Project
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href="/") Home
							li.active
								a(href="/browse") Browse
							li
								a(href="/admin") Admin
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
									| Search 
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='/search') Search
									li
										a(href='/xpath') XPath
									li
										a(href='/xquery') XQuery
										// START THE FEATURETTES
			br							
			hr.featurette-divider
			.row.featurette
				.col-md-7
					
						h1 !{title}						
			h1 Results
			!{results}
				
			
		// /END THE FEATURETTES

		// FOOTER
	
		


