extends ../node_modules/jade-bootstrap/layouts/blog

block body
 +navbar("Colenso Project", "dropdown_menu")
  +nav_item("/", "active") Home
  +nav_item("/browse") Browse  
  +nav_item("/admin") Admin
  +nav_item_dropdown("/search")(label = "Search")
   +nav_item("/search") Search
   +nav_item("/xquery") XQuery
   +nav_item("/xpath") XPath
 block content
  h1= title
  .container
 p| Welcome to #{title}. 




