extends ../node_modules/jade-bootstrap/layouts/cover

block body
 +navbar("Colenso Project", "dropdown_menu")
  +nav_item("/", "active") Home
  +nav_item_dropdown("/search")(label = "Search")
   +nav_item("/search") Search
   +nav_item("#") Query
   +nav_item("#") Xquery
 .container
  h1= title
  .container
 p| Welcome to #{title}. We have an excellent collection of videos in stock for you.
 | We are based in !{place}.
 br



 adsf asdf dfs a Results: #{valueofquery}
