extends ../node_modules/jade-bootstrap/layouts/blog

block body
 +navbar("Colenso Project", "dropdown_menu")
  +nav_item("/") Home  
  +nav_item("/reuslts","active") Results
  +nav_item_dropdown("/search","active")(label = "Search")
   +nav_item("/search") Search
   +nav_item("/xquery") XQuery
   +nav_item("/xpath") XPath

 