extends ../node_modules/jade-bootstrap/layouts/blog

block body
 +navbar("Colenso Project", "dropdown_menu")
  +nav_item("/") Home  
  +nav_item("/results","active") Results
  +nav_item_dropdown("/search")(label = "Search")
   +nav_item("/search") Search
   +nav_item("/xquery") XQuery
   +nav_item("/xpath") XPath

 block content
   .container
    h1 Results
    h2 !{query}
     if query 
      +list-group-custom()
      each item in query  
       +list-group-item(item.url)    
        span #{item.title}

 !{doc}