extends ../node_modules/jade-bootstrap/layouts/carousel

block body
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            
            a(class="navbar-brand", href="/" ) Colenso Project
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href="/") Home
              li
                a(href="/browse") Browse
              li
                a(href="/admin") Admin
              li.dropdown.active
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Search 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li.active
                    a(href='/search') Search
                  li
                    a(href='/xpath') XPath
                  li
                    a(href='/xquery') XQuery

 
    .container
          h1= 'Enter your required search'
          form(method='get', action='/search/query')
            input(type='text', name='query')
            |     
            input(type='submit')
  
    .container
  
      h2 Search Results
        if valueofquery  && valueofquery .length > 0    
         each val in valueofquery
          +list-group-custom()
          +list-group-item("/results/"+val.url.replace(/search/g, ""))
           span #{val.title}      
      footer
    
      <p align = "center">
      | © 2016 Mitchell Coad Swen303 Assignment 1
      |  ·
      <p align = "center">
      a(href='/') Home
      |  · 
      a(href='/browse') browse
      |  · 
      a(href='/admin') Admin


 
