extends ../node_modules/jade-bootstrap/layouts/blog

block body
 +navbar("Colenso Project", "dropdown_menu")
  +nav_item("/") Home  
  +nav_item_dropdown("/search","active")(label = "Search")
   +nav_item("/search","active") Search
   +nav_item("/xquery") XQuery
   +nav_item("/xpath") XPath
 
 .container
   h1= 'Enter your required search'
   form(method='get', action='/search/query')
    input(type='text', name='query')
    |     
    input(type='submit')
  
  .container
   p| Welcome to #{title}. Please enter a search to begin
 .container
  h2 Search Results
  .result
   if valueofquery  && valueofquery .length > 0    
    each val in valueofquery
     +list-group-custom()
      +list-group-item("/results/"+val.url.replace(/search/g, ""))
       span #{val.title}      
      


  f Results: #{valueofquery}
