extends ../node_modules/jade-bootstrap/_bootstrap

block body
 +navbar("Colenso Project", "dropdown_menu")
  +nav_item("/") Home
  +nav_item("/search", "active") Search
 
 .container
 h1= 'Enter your required search'
 form(method='get', action='/search/query')
  input(type='text', name='query')
  |     
  input(type='submit')
  
  .container
 p| Welcome to #{title}. We have an excellent collection of videos in stock for you.
 | We are based in !{place}.
 br



 adsf asdf dfs a Results: #{valueofquery}
