extends ../node_modules/jade-bootstrap/layouts/blog

block body
 +navbar("Colenso Project", "dropdown_menu")
  +nav_item("/") Home  
  +nav_item("/browse") Browse
  +nav_item_dropdown("/search","active")(label = "Search")
   +nav_item("/search") Search
   +nav_item("/xquery","active") XQuery
   +nav_item("/xpath") XPath
 
 .container
   h1= 'Enter your required xquery search'
   form(method='get', action='/xquery/query')
    input(type='text', name='xquery')
    |     
    input(type='submit')
  
  .container
   p| Welcome to #{title}. Please enter a search to begin
   p (please be patient i am slow)
 .container
  h2 Search Results
   +progress-bar(0)
  .result  
  

   #{valueofquery}


  